h1 {
  border-bottom: 3px solid black;
  background-color: #83C0E1;
  text-align: center;
}
#messages_container {
  text-align: center;
}
.message{
  display: inline-block;
  vertical-align: top;
  background-color: lightblue;
  width: 240px;
  height: 120px;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.message a:link{
  color: gray;
  font-size: 80%;
}

.time{
  color: white;
  font-size: 70%;
  text-transform: uppercase;
}

.message_content{
  background-color: #EDF1FA;
  border: 1px solid black;
  border-radius: 4px;
}

#addSong {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 6px;
  border-bottom: 3px solid black;
}
form div {
  display: inline-block;
}